@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css");
* {
  box-sizing: border-box;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-style: normal;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  transition: 0.3s;
}

:root {
  --color-brown: #47363f;
  --color-white: #f9f7f8;
}

html,
body {
  background-color: var(--color-white);
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

p,
li {
  font-size: 1.2rem;
}

header {
  align-content: center;
  background-attachment: fixed;
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 100vh;
  left: 0;
  padding-left: 20px;
  text-align: left;
  top: 0;
  width: 100%;
}
header h1,
header h2 {
  color: var(--color-brown);
  font-family: "Poiret One", cursive;
  font-weight: 300;
  margin: 0;
  z-index: 3;
}
header h1 {
  font-size: 5vw;
}
header h2 {
  font-size: 3vw;
}

@media (max-width: 900px) {
  header {
    display: none;
  }
}
.about {
  align-items: center;
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}
.about article {
  align-content: center;
  display: grid;
  height: 100vh;
  padding: 0 50px;
}

figure {
  position: relative;
  text-align: center;
}
figure img {
  border-radius: 500px;
  width: 200px;
}

figure::after {
  content: "";
  width: 150px;
  height: 10px;
  display: block;
  margin: 25px auto;
  background-color: var(--color-white);
  background-color: rgba(204, 204, 204, 0.4);
  border-radius: 100%;
  box-shadow: 0 0 10px 15px rgba(204, 204, 204, 0.4);
}

.description {
  background: var(--color-brown);
  color: var(--color-white);
  overflow: hidden;
  position: relative;
}
.description div {
  z-index: 1;
}
.description h1 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: -1px;
}
.description p {
  line-height: 35px;
  margin-top: 15px;
}
.description a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  text-decoration: none;
}
.description a:hover {
  color: #fff;
}
.description i {
  font-size: 1.5rem;
  margin-right: 10px;
}

@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr;
    height: auto;
  }
  .about article {
    padding: 0 25px;
  }

  .description h1 {
    font-size: 2rem;
  }
}
footer {
  bottom: 15px;
  display: flex;
  gap: 15px;
  position: fixed;
  right: 25px;
}
footer a {
  color: var(--color-white);
  font-size: 2rem;
  opacity: 0.9;
  text-decoration: none;
}
footer a:hover {
  transform: scale(1.2);
}
footer a:active {
  transform: scale(1);
}

@media (max-width: 900px) {
  footer {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
    height: 50px;
    justify-content: space-around;
    left: 0;
    right: 0;
    width: 100%;
  }
  footer a {
    color: var(--color-white);
    font-size: 1.7rem;
    opacity: 1;
  }
  footer a:hover {
    color: var(--color-white);
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
