@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

@import 'modal';
@import 'footer';

* {
    box-sizing: border-box;
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-style: normal;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    transition: 0.3s;
}
:root {
    // COLORS
    --color-a: #140330;
    --color-b: #520DC2;
    --color-c: #6F42C1;
    --color-white: #f9f9f9;
}
html,
body {
    background-color: var(--color-white);
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
}
a{
    color: orangered;
}
h1, h2{
    color: var(--color-b);
}
p, li{
    font-size: 1.2rem;
}
@media(max-width: 900px){
    p, li{
        font-size: 1rem;
    }
}
.about{
    display: grid;
    grid-template-rows: 25vh 75vh;
    position: relative;
    grid-template-areas:
    "."
    "about-article";
    height: 100vh;
    article{
        background-color: var(--color-white);
        grid-area: about-article;
        text-align: center;
        img{
            border-radius: 500px;
            filter: grayscale(1);
            margin-bottom: 15px;
            margin-top: -20px;
            max-width: 150px;
            &:hover{
                filter: grayscale(0);
            }
        }
        p{
            color: var(--color-a);
            // font-size: 1.1rem;
            margin: 15px 0;
        }
        a{
            background-color: var(--color-b);
            // border: 1px solid rgba($color: #fff, $alpha: 0.2);
            border-radius: 5px;
            color: var(--color-white);
            font-size: 0.8rem;
            padding: 10px 15px;
            text-decoration: none;
            &:hover{
                background-color: var(--color-c);
                animation-name: button_pulse;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }
            &:active{
                background-color: var(--color-a);
            }
        }
        h1{
            font-size: 1.3rem;
            font-weight: 900;
        }
        h2{
            color: var(--color-a);
            font-size: 1.1rem;
            // font-weight: normal;
            text-transform: uppercase;
        }
    }
}
.about::before{
    content: '';
    background-color: var(--color-c);
}
@media(max-width: 900px){
    .about{
        grid-template-rows: 10vh auto;
        article{
            padding: 0 20px;
            img{
                max-width: 120px;
            }
        }
    }
}
  
  @keyframes button_pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.3);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }
.skills{
    display: flex;
    gap: 100px;
    height: 100vh;
    h2{
        background-color: var(--color-b);
        color: #fff;
        font-size: 4rem;
        font-weight: 900;
        display: grid;
        align-items: center;
        writing-mode: vertical-rl;
        text-align: center;
        text-transform: uppercase;
        transform: rotate(-180deg);
        width: 160px;
    }
    article{
        margin-top: 120px;
        h3{
            color: var(--color-c);
            font-size: 2rem;
            font-weight: 900;
            text-transform: uppercase;
        }
        li{
            color: var(--color-a);
            margin-top: 10px;
        }
    }
}
@media(max-width: 900px){
    .skills{
        flex-direction: column;
        gap: 0px;
        height: auto;
        position: relative;
        h2{
            font-size: 2.6rem;
            transform: rotate(0deg);
            padding: 50px 0;
            writing-mode: horizontal-tb;
            width: 100%;
        }
        article{
            margin-top: 60px;
            padding: 0 20px;
        }
    }
    .skills::after{
        content: '';
        padding-bottom: 120px;
    }
}